body {
	margin: 0px auto;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	min-width: 1240px;
}

footer {
	margin-top: 50px;
	border-top: 1px solid #cccccc;
	padding-top: 30px;
}

.container {
	 max-width: none !important;
	 width: 1240px;	
}

.centrar {

	margin: 0px auto;
}
.menu_celulares {
	padding: 0px 30px;
}

header {
	background-image: url("../imagenes/fondo_header1.png");
	height: 500px;
}
.img_central {
	margin-top: 10px;
	padding-left: 0px;
}
.barra_sup {
	height: 5px;
	background: #09B0E5;
}
.menu_sup {
	background-color: #09B0E5;
	color: white;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	padding: 8px 0px;
	vertical-align:text-bottom;
}

.menu_sup.activo {
	background-color: #508cb6;
}

a:hover .menu_sup {
	background-color: #508cb6;
}
.titulo1{
	color: #09B0E5;
	margin-top: 50px;
	margin-bottom: 5px;
}

.titulo1 h1 {
 	font-weight: bold;
	font-size: 45px;
	letter-spacing: 1.5px;
	padding: 0px;
	margin: 0px;
}

.servicios {
	color: white;
	text-align: center;
	margin:0px;
	font-size: 20px;
}

.servicios p {
	padding: 0px 50px;
}

.sin_padding {
	padding: 0px;
}
 
.movil{
	background-color: #09B0E5;
}
.prepago{
	background-color: #f26634;

}
.fija{
	background-color: #ff9933;

}
.ancha{
	background-color: #a0cc56;
}

.img_sube {
	margin-top: -50px;
}

.cuadrado {
	height: 340px;
}

.cuadrado h3 {
	font-size: 30px;
}

.tit_servicios{
	text-align: center;
	padding-bottom: 20px;
}

.tit_servicios h2 {
	font-size: 36px;
	color: #333;
	margin-top: 20px;
	margin-bottom: 10px;	
}

a .btn_serv {
	background: #999;
	padding: 5px 0px 5px 0px;
	text-align: center;
	color: white;
	font-size: 25px;
	margin-bottom: 10px;
	border-bottom: 5px solid white;
	border-left: 1px solid lightgray;
}

a:hover .btn_serv {
	background: #666;
	border-bottom: 5px solid #09B0E5;
}


.btn_serv.hover {
	background: #666;
	border-bottom: 5px solid #09B0E5;
}

.btn_serv img {
	padding: 0px 5px 6px 0px;	
}

.nav-tabs>li>a {
	border-radius: 0px;
	width: 90px;
	text-align: center;
}


.active a.tambien {
	background-color: red;
}

.nav-tabs li.active a.primera{
	border-left: 0px;

}

.nav-tabs li.active a.ultima{
	border-right: 0px;
}
.nav-tabs li a.primera{
	border-left: 0px;

}

.nav-tabs {
	border: 1px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-top: 0px;
	border-bottom: 3px solid white;
	margin-right: 0px;
}
.tab-content {
	background: white;
	border: 1px solid #ddd;
	border-top: 0px;
}

.tab-content.zona_puntos {
	min-height: 640px;	
}

.nav .nav-tabs .active {
	background: black;
}

.nav-tabs>li>a:hover{
	border-bottom: 0px;
}

.compa {
	margin-top: -20px;
}

.instruccion{
	padding: 20px 0 5px 0;
	font-weight: bold;
	font-size: 14px;
}

.form-control[disabled], fieldset[disabled] .form-control {
	text-align: center;
}

.btn-recarga {
	width: 200px;
	background-color: #09B0E5;
	color:white;
	font-size: 23px;
	font-weight: bold;
	padding: 0px;
}

.btn-recarga:hover {
	color: white;
	background: #508CB6;
}

.btn-recarga:focus {
	color: white;
	background: #508CB6;
}

.instruccion_baja {
	color: gray;
	padding-bottom: 30px;
	border-bottom: 3px lightgray dotted;
	margin-bottom: 30px;   
}

.pregunta_tol {
	text-align: center;
	padding: 0px;
}

.pregunta_tol button {
	border:0px;
	padding: 0px;
}

.tx_center {
	text-align: center;
}

.caja_contenido{ 
	padding: 10px 30px;
	border: 1px solid lightgray;
	margin: 10px 20px 0px 20px;
	height: 100px;
	overflow-y: scroll;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pregunta_tol .btn-default:hover {
	background-color: white;
}
.tooltip-inner {
	background-color: #09B0E5;
	font-weight: normal;
	border: 3px solid white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.tooltip-arrow {
   display: none;
}

.canjeo {
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding-right: 0px;
}

.canjeo img {
	padding: 0px 5px 5px 0px;
}

.ganas {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.ganas img {
	padding: 0px 5px 5px 0px;
}

.tipo_celeste {
	color:#09B0E5;
}

.ayuda_canje {
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 20px;
}

.font_gris {
	color: gray;
	font-weight: normal;
	padding-left: 10px;
}

.puntos {
	width: 35px;
	border: 0px;
	border-bottom: 1px solid #09B0E5;
}

.pequeno1 {
	padding: 0px 5px;
	width: 50px;
}

.pad_extrta {
	padding-left: 30px;
}

.movistar {
	background-image: url("../imagenes/logo_movistar_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .movistar {
	background-image: url("../imagenes/movistar_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.entel {
	background-image: url("../imagenes/logo_entel_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .entel {
	background-image: url("../imagenes/logo_entel_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.claro {
	background-image: url("../imagenes/logo_claro_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .claro {
	background-image: url("../imagenes/logo_claro_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.virgin {
	background-image: url("../imagenes/logo_virgin_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .virgin {
	background-image: url("../imagenes/logo_virgin_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.wow {
	background-image: url("../imagenes/logo_wow_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .wow {
	background-image: url("../imagenes/logo_wow_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.falabella {
	background-image: url("../imagenes/logo_falabella_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 55px auto;
	background-position: center;
}

.active .falabella {
	background-image: url("../imagenes/logo_falabella_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.vtr {
	background-image: url("../imagenes/logo_vtr_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 35px auto;
	background-position: center;
}

.active .vtr {
	background-image: url("../imagenes/logo_vtr_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.colo {
	background-image: url("../imagenes/logo_colo_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .colo {
	background-image: url("../imagenes/logo_colo_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.gtd {
	background-image: url("../imagenes/logo_gtd_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .gtd {
	background-image: url("../imagenes/logo_gtd_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.gtel {
	background-image: url("../imagenes/logo_gtel_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .gtel {
	background-image: url("../imagenes/logo_gtel_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.tip {
	background-image: url("../imagenes/logo_tip_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center;
}

.active .tip {
	background-image: url("../imagenes/logo_tip_color.png");
	height: 30px;
	background-repeat: no-repeat;
}

.directv {
	background-image: url("../imagenes/logo_directv_gris.png");
	height: 30px;
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: right;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
}

.active .directv {
	background-image: url("../imagenes/logo_directv_color.png");
	height: 30px;
	background-repeat: no-repeat;
}


.nav-tabs li a.tambien{
	width: 166px;
	text-align: center;
	font-weight: bold;
	color: black;
	border-right:0px; 
	border-left: 1px solid #ddd;	
	margin: 0px;
}

.flotante {
    	display:scroll;
        position:fixed;
        right:0px;
        z-index: 1000;
}

.flotante.facebook {
	background-image: url("../imagenes/fondo_face.png");
	height: 80px;
	bottom:370px;
	padding-top: 25px;
	padding-right: 5px;
	padding-left: 5px;
}

.flotante.twitter {
	background-image: url("../imagenes/fondo_tw.png");
	height: 80px;
	bottom:310px;
	padding-top: 28px;
	padding-right: 2px;
	padding-left: 2px;
}

a.flotante:hover{
	z-index:1001;
}

.modal-title {
	font-size: 36px;
	color: #09B0E5;
	text-align: center;
	font-weight: bold;
	padding: 5px 0px;
}

.modal-header .close {
	padding-top: 10px;
}

.close {
	font-size: 40px;
}

.modal-footer {
	text-align: center;
}

.modal-footer .btn.btn-primary {
	background-color: #09B0E5;
	font-size: 26px;
	padding: 0px 60px;
	font-weight: bold;
	border: 0px;
}

.contenido_mod {
	color: black;
	font-size: 18px;
	text-align: center;
	padding: 0px 0px;
}

.sub_tit_mod {
	font-size: 18px;
	color: gray;
	border: 1px solid lightgray;
	padding: 2px 10px;
	margin-top: 15px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.modal-body.ingresa {
	padding-bottom: 0px;
}

.sub_tit_mod.ingresa {
	margin-top: 30px;
}

.modal-body.activate {
	padding-bottom: 0px;
	padding-top: 30px;
}

.sub_tit_mod.pass {
	margin-top: 20px;

}

.sub_tit_mod img {
	padding-right: 7px;
	padding-bottom: 2px;
}

.modal-footer {
	border-top: 0px;
	height: 140px;
	background-image: url(../imagenes/fondo_fut_mod.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.modal-content {
	border-radius: 0px;
	width: 590px;
}

.modal-header {
	padding: 5px 0px;
	margin: 0px 40px;
}
.im_activa {
	border: 0px;
	width: 300px;
	height: 30px;
}
.lost_pass {
	text-align: right;
	padding: 0px;
	font-size: 18px;
	color: gray;
}

.lost_pass a {
	color: #09B0E5;
}

.recuerdame {
	font-weight: normal;
	color: black;
}


/**--zona de puntos--**/

header.zonapuntos {
	background-image: none;
}

.titulo1.zona_puntos {
	margin-bottom: 40px;
}

.nav.nav-tabs.zona_puntos li {
	width: 20%;
	background-color: white;
}

.nav.nav-tabs.zona_puntos li a {
	width: 100%;
	padding-bottom: 0px;
	text-align: center;
	border-right: 1px solid #ddd;
}

.nav.nav-tabs.zona_puntos li a:hover {
	background-color: white;
}

li.active .menu_zona {
	border-bottom: 4px solid #09B0E5;
	width: 80%;
	margin: auto;
	color: black;
}

li .menu_zona {
	border-bottom: 4px solid white;
	width: 80%;
	margin: auto;
	padding-left: 10px;
	font-size: 20px;
	color: #999;
}

li.active .menu_zona.mis_puntos {
	background-image: url(../imagenes/estrella_azul.png);
	background-repeat: no-repeat;
	background-position: 20% center;
}

.menu_zona.mis_puntos {
	background-image: url(../imagenes/estrella_gris.png);
	background-repeat: no-repeat;
	background-position: 20% center;
}

li.active .menu_zona.datos {
	background-image: url(../imagenes/lapiz_azul.png);
	background-repeat: no-repeat;
	background-position: 8% center;
}

.menu_zona.datos {
	background-image: url(../imagenes/lapiz_gris.png);
	background-repeat: no-repeat;
	background-position: 8% center;
}

li.active .menu_zona.contrasena {
	background-image: url(../imagenes/candado_azul.png);
	background-repeat: no-repeat;
	background-position: 4% center;
}

.menu_zona.contrasena {
	background-image: url(../imagenes/candado_gris.png);
	background-repeat: no-repeat;
	background-position: 4% center;
}


li.active .menu_zona.correo {
	background-image: url(../imagenes/persona_azul.png);
	background-repeat: no-repeat;
	background-position: 12% center;
}

.menu_zona.correo {
	background-image: url(../imagenes/persona_gris.png);
	background-repeat: no-repeat;
	background-position: 12% center;
}

li.active .menu_zona.webpay {
	background-image: url(../imagenes/tarjeta_azul.png);
	background-repeat: no-repeat;
	background-position: 6% center;
}

.menu_zona.webpay {
	background-image: url(../imagenes/tarjeta_gris.png);
	background-repeat: no-repeat;
	background-position: 6% center;
	background-size: 20px 17px;
}

.tit_zona {
	padding: 30px 0px 30px 100px;
}

.tit_zona h2 {
	font-size: 22px;
	color: black;
	font-weight: bold;
	margin: 0px;
}

.sub_tit_zona {
	padding: 0px 0px 10px 100px;
}
.sub_tit_zona h3 {
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin: 0px;
}
.puntos_mov {
	font-size: 55px;
	color: #999;
	text-align: center;
	line-height: 1;
}
.sub_puntos {
	text-align: center;
	color: black;
	font-size: 16px;
}

.face_puntos {
	text-align: center;
	padding-top: 10px;
}

.separacion_puntos {
	border-left: 2px dotted #ccc;
}

.puntos_mov.saldo {
	color: #09B0E5;
}

.sub_puntos.saldo {
	color: #09B0E5;
}
.botton.saldo {
	text-align: center;
}
.btn.azul_puntos {
	background-color: #09B0E5;
	color: white;
	margin: 0px auto;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.division_zona {
	border-top: 2px dotted #ccc;
	padding-bottom: 30px;
}

.sin_pad{
	padding: 0px;
}

.datepicker {
	background-position: 0%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid lightgray;
}

.datepicker.calendar{
	width: 150px;
	padding-left: 30px;
	background-image: url(../imagenes/calendaio_azul.png);
	background-repeat: no-repeat;
}

.calendario {
	font-size: 16px;	
}

.btn.azul_puntos.cajear {
	margin-top: 22px;
	padding-left: 30px;
	padding-right: 30px;
}

.sin_mov {
	text-align: center;
}
tr.tit_tab th {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	border-left: 1px solid lightgray;
}

.table.mov_puntos {
	border: 1px solid lightgray;
	margin-bottom: 80px;
}

.naranjo h3{
	color: #d36a2e;
	padding-top: 15px;
	padding-bottom: 20px;
}

.cuadro_texto {
	width: 170px;
	border: 1px solid lightgray;
	padding-left: 10px;
}
.seguridad {
	padding-top: 20px;
	font-size: 16px;
	color: gray;
}
.texto_azul{
	color: #09B0E5;
	padding-bottom: 60px;
}

.table thead tr.tit_tab th {
 border-bottom: none;
}

.modal-body .tit_modal{
	font-size: black;
	font-weight: bold;
	font-size: 22px;
	padding-top: 15px;
}
.modal-body .sub_modal{
	font-size: black;
	font-weight: bold;
	font-size: 18px;
}

.img_pasos {
	text-align: right;
}
.text_blue {
	color: #09B0E5;
}

.productos_canje{
	margin: 20px 0px;
	border: 1px solid #ccc;
}

.row.modal_puntos {
	max-width: 590px;
	padding: 0px 30px;
}

.cuadro_texto.mod {
	width: 100%;
	height: 25px;
}

.sin_pad.primero_right {
	padding-right: 15px;
}

.form-control.mod_zona {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.modal-footer.solo {
	height: 80px;
}

.modal2 {
	padding-top: 15px;
	padding-bottom: 10px;
}

.tx_gray{
	color: #666;
}

.azul_puntos.btn_grande {
	padding: 0px 50px;
	margin-bottom: 10px;
}

.btn_volver a {
	font-size: 14px;
	color: #09B0E5;
}

.contenido_mod.exito {
	font-size: 18px;
	font-weight: bold;
	color: black;
	padding-top: 45px;
}

.exito .editables{
	color: #09B0E5;
}

.modal-footer.con_btn {
	height: 160px;
}

.contenido_mod.terminos{
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	color: black;
}

.conoce_mas {
	padding-top: 30px;
}

.sub_modal.conoce {
	padding-bottom: 10px;
}

.cuadro_texto.mod.celular-dig {
	width: 30px;
	margin-right: 10px;
}

.cuadro_texto.mod.celular {
	width: 90px;
}

.btn_grande.inscripcion {
	margin-top: 20px;
}

.exito.light {
	font-size: 16px;
	font-weight: normal;
}

.exito.superior {
	font-size: 24px;
	font-weight: bold;
}

a.celeste {
	color: #09B0E5;
	font-size: 18px;
}

.table.web_pay_int {
	border: 1px solid #d3d3d3;
	margin-bottom: 10px;
}

.tarjeta_pay {
	border: 1px solid #d3d3d3;
	margin-bottom: 35px;
}

.btn.azul_puntos.desvincular {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0px auto 10px auto;
}

.tit_tarjeta_pay {
	font-size: 18px;
	color: black;
	font-weight: bold;
	padding: 10px 0px;
}

button.btn-desinscripcion {
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 15px;
	background-color: #09B0E5;
}

button.btn.btn-desinscripcion.gris {
	background-color: #999999;
}

button.btn-desinscripcion:hover {
	color: white;
}

.contenido_mod.exito.desinscripcion {
	padding: 40px 0px;
}

.final_web_pay {
	padding-bottom: 30px;
}

.btn.azul_puntos.cajear.web_pay {
	margin-bottom: 10px;
}

tr.tit_tab.titulo th {
	background-color: #f6f6f6;
}

tr.tit_tab.contenido th {
	font-size: 14px;
}

.container .informacion {
	border: 1px solid #cccccc;
}

.titulo_quienes {
	padding-bottom: 10px;
}

.titulo_quienes h1 {
	font-size: 48px;
	font-weight: bold;
	color: #09B0E5;
	margin: 0px;
}

.quienes_somos p {
	font-size: 16px;
}

.mapa_sitio {
	font-size: 16px;
	padding-top: 40px;
}

.servicios_quienes_somos img {
	padding: 40px 0px 80px 10px;
}

.titulo1.quienes {
	padding-left: 0px;
}

.gris.grande {
	padding: 0px 60px;
}

footer.sin_linea {
	border-top: none;
}

.menu_sup.activo {
	background-color: #508CB6;
}

.recarga_companias {
	background-color: #f6f6f6;
}

.close {
	opacity: 0.6;
}
.zonapuntos.solo {
	height: 0px;
}

a.texto_celeste {
	color:#64afe3;
	text-decoration: none; 
}

.panel-default > .panel-heading {
	background-color: white;
}

.panel-default {
	border: 0px;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border: 0px;
}

.panel {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
}
.panel-body.terminos {
	padding-top: 0px;
}
.panel-group.terminos {
	margin-bottom: 0px;
}

.panel-title.tx_center.terminos {
	font-weight: bold;
	font-size: 14px;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.web_pay{background-image:url("../imagenes/sec_web_pay.png");}
.paga_facil{background-image:url("../imagenes/sec_paga_facil.png");}
.multicaja{background-image:url("../imagenes/sec_multicaja.png");}
.one_click{background-image:url("../imagenes/sec_web_pay_one_click.png");}
.cencusud{background-image:url("../imagenes/sec_cencosud.png");}
.paypal{background-image:url("../imagenes/sec_paypal.png");}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    border: 3px solid #97ac01;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:170px;height:75px;
    border: 3px solid white;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.drinkcard-cc:hover{
    border: 3px solid #97ac01;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.medios_pago {
	padding: 0px 12px;
}

p.tit_pagos {
	font-size: 24px;
}

p.texto_pagos {
	font-size: 20px;
	padding-bottom: 25px;
	line-height: 35px;
}